			<!-- MAIN CONTENT -->
			<div id="content">

				<!-- row -->
				<div class="row">
				
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				
						<div class="row">
							<div class="col-sm-12">
								<div class="text-center error-box">
									<h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i> Error 500</h1>
									<h2 class="font-xl"><strong>Lo sentimos, su cuenta aún no ha sido aprobada por el administrador del sistema</strong></h2>
									<br />
									<p class="lead semi-bold">
										<strong>Póngase en contacto con el administrador para ingresar correctamente a su cuenta.</strong><br><br>
									</p>
									<ul class="error-search text-left font-md">
							            <li><a href="/users/logout"><small>Salir<i class="fa fa-arrow-right"></i></small></a></li>
							        </ul>
								</div>
				
							</div>
				
						</div>
				
					</div>
					
				</div>
				<!-- end row -->

			</div>
			<!-- END MAIN CONTENT -->